node_modules/
lerna-debug.log
coverage/
.env
*.ignore
docs/
*.log

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# General
.vagrant/

# Log files (if you are creating logs in debug mode, uncomment this)
# *.log